:root{
    --mainbg: #151820, #202729;
    --lightbg: #1a1725, #202729;
    --buttonbg: #4b0e45, #1d3b44;
    --maincolor: rgb(255, 249, 244);
  }

html{
    /* cheeky 90deg gradient hack 
    so it repeats nicely when zoomed way out*/
    background: linear-gradient(90deg, var(--mainbg));
    background-repeat:repeat;
    color: var(--maincolor);
  }
body div{
    margin: 2vh;
    display: none;
    flex-flow: column nowrap;
}



h1{
    border-color: #1d3b44;
    border-style: ridge;
    background: linear-gradient(45deg, var(--lightbg));
    width: auto;
    display: flex;
    flex-direction: row wrap;
    flex: 1 1 0px;
    padding: 2vh;
    margin: 2vh;
}

h2{
    margin-inline-start: 2vh;
}

button{
    border-color: #4b0e45;
    font-size: 24px;
    padding: 2vh;
    margin: 2vh;
    color: var(--maincolor);
    background: linear-gradient(45deg, var(--buttonbg));
}

button:hover{
    background: #4b0e45;
}

textarea{
    border-color: #1d3b44;
    border-style: ridge;
    color: var(--maincolor);
    background: linear-gradient(45deg, var(--lightbg));
    width: auto;
    padding: 2vh;
    margin: 2vh;
}

li {
    font-size: 24px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 0px;
/* ^^^ grow all flexboxes evenly. 
Button content size is calculated unless we specify it to be 0 here. 
I hate this.*/
    border: 0.5vh ridge;
    background-color: #1d3b44;
    align-items: center;
    padding: 2vh;
    margin: 1vh;
    list-style: none;
}

span{
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 0px;
    margin: 1vh;
    align-items: baseline;
}

#scoreContainer{
    display: block;
}

#screenPrompt{
    align-items: baseline;
}

#promptQuit{
    width: auto;
    margin-top: 4vh;
    background: rgb(112, 30, 0);
}

#promptSpan{
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#promptSpan button{
    display: block;
    flex: 1 1 0px;
    padding: 2vh;
    margin: 2vh;
}